<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="--js-register-message">
    Registate y encuentra personas que desean <span class="--js-register-enphasys">Contratarte</span> por tus servicios como trabajador!
  </p>

  <div class="--content">
      <form #formulario="ngForm" (ngSubmit)="onSubmitNewWorker()">

          <div class="--js-register-input-container">
            <ion-textarea [(ngModel)]="newWorkerData.bio" required name="workerBiografia" placeholder="Descríbete laboralmente de forma breve" class="--js-register-input"></ion-textarea>
          </div>

        <!--DefineHabilities-->
        <label for="workerHability" class="--center-label"> Ingresa tus habilidades o dominios laborales</label>
        <div class="--js-register-input-container">
            <ion-input [(ngModel)]="workerHability" type="text"  name="workerHability" placeholder="Habilidad / Dominio laboral" class="--js-register-input"></ion-input>
          </div>
          <ion-button expand="full" shape="round" (click)="addHability()" style="font-family: Roboto; font-weight: 300;">Agregar habilidad</ion-button>

        <ion-chip color="primary" *ngFor="let habilities of newWorkerData.habilities">
          <ion-label color="primary">{{habilities}}</ion-label>
        </ion-chip>
        <hr>

        <label for="workerPay">Costo por Hora ($/H)</label>
        <div class="--js-register-input-container">
            <span class="--cash-symbol">$</span><ion-input type="number" [(ngModel)]="newWorkerData.pay" placeholder="Cobro por hora" step="0.01" required name="workerPay" class="--js-register-input"></ion-input>
          </div>

        <div class="--js-register-input-container">
            <ion-select placeholder="Categoria" 
                        name="catgery"
                        required
                        [(ngModel)]="newWorkerData.category"
                        [interfaceOptions]="customActionSheetOptions" 
                        interface="action-sheet" 
                        class="--js-register-select">
              <ion-select-option value="INFO">Informática - Programación</ion-select-option>
              <ion-select-option value="FONT">Fontanería</ion-select-option>
              <ion-select-option value="DOME">Doméstico</ion-select-option>
              <ion-select-option value="ELEC">Electricista</ion-select-option>
              <ion-select-option value="CHOF">Chofer</ion-select-option>
              <ion-select-option value="CONT">Contaduría</ion-select-option>
              <ion-select-option value="JURI">Jurídica</ion-select-option>
              <ion-select-option value="MED">Medicina</ion-select-option>
            </ion-select>  
        </div>
        <div class="--js-register-checkbox-container">
          <ion-item>
            <ion-checkbox style="margin-right:1em;" [(ngModel)]="newWorkerData.terminosycondiciones"   name="workerTerminosycondiciones"></ion-checkbox>
            <ion-label>Acepto los Terminos y Condiciones</ion-label>
          </ion-item>
        </div>
        <ion-button type="submit" [disabled]="formulario.invalid" expand="full" shape="round" color="primary">
          Postularse como Trabajador
        </ion-button>
        <br>
      </form>
  </div>
</ion-content>
