.--content{
    width: 90vw;
    margin: 0 auto;
}
.--js-verify-email{
    margin: 0 1em;
    margin-top: 30vh;
    margin-bottom: 2em;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.font-bold{
    font-weight: 500;
}