<ion-header>
  <ion-toolbar color="primary">
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="--login-logo">
      <span class="--login-logo-bold">JOB</span><span class="--login-logo-light">Space</span>
  </div>
  <div class="--login-container">
      <form #formulario="ngForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"  name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" required name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="formulario.invalid" expand="full" class="--login-button" shape="round" color="primary">
          LOGIN
        </ion-button>
      </form>
      <ion-button routerLink="/register" expand="full"  fill="outline" shape="round" color="primary">
        REGISTRARSE
      </ion-button>
  </div>
</ion-content>
