<ion-content>
  <div class="categories-top-text">
    Hola <span>{{ nombreUsuario}}</span> escoje la categoria de tu interes!
  </div>
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'INFO')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/Informatica_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Informática</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'ELEC')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/electricista_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Electricista</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'FONT')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/fontaneria_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Fontanería</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'DOME')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/domestico_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Doméstico</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'CHOF')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/chofer_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Chofer</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'CONT')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/contaduria_png.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Contaduría</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'JURI')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/juridico_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Juridíca</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="goToCategory('/tabs/cat-list', 'MED')">
            <ion-card-header>
              <ion-avatar class="card-avatar">
                <img src="../../assets/icon/medicina_icon.png">
              </ion-avatar>
              <ion-card-title class="card-tittle">Medicina</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

      </ion-row> <!---Ion Row (Main)--->
      
    </ion-grid>
  </div>
</ion-content>
