.categories-top-text{
    text-align: center;
    font-size: 20px;
    padding: 2em 1em;
    font-weight: 300;

    & span{
        font-weight: 600;
    }
}

.card-avatar{
    margin: 2em auto;
}

.card-tittle{
    text-align: center;
}