<ion-content>
  <div *ngFor="let worker of workerList">
    <ion-card *ngIf="comprobeCat(worker.category) && userUID!=worker.UID" (click)="presentModal(worker)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-avatar class="list-card-avatar">
              <img *ngIf="worker.img" src="{{worker.img}}">
              <img *ngIf="!worker.img" src="../../assets/icon/stock-avatar.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-row class="worker-data">
              <ion-col size="12"><span class="worker-name">{{worker.name}} {{worker.lastname}}</span></ion-col>
              <ion-col size="12">
              <span *ngFor="let habilities of worker.habilities;let i=index">
                  <ion-chip color="primary"  *ngIf="i < 3">
                    <ion-label >{{habilities}}</ion-label>
                  </ion-chip>
                  <ion-chip color="primary"  *ngIf="i == 4">
                      <ion-label >Otras</ion-label>
                    </ion-chip>
              </span>
                
              </ion-col>
              <ion-col size="4" *ngIf="!worker.workdone" ><ion-icon name="hammer"></ion-icon> 0</ion-col>
              <ion-col size="4" *ngIf="worker.workdone" ><ion-icon name="hammer"></ion-icon> {{ worker.workdone }}</ion-col>
              <ion-col size="4"><ion-icon name="locate"></ion-icon>{{worker.distance_text}}</ion-col>
              <ion-col size="4"><ion-icon name="cash"></ion-icon> {{worker.payment}}/h</ion-col>
              <ion-col size="12" class="worker-stars">
                <ion-icon *ngIf="worker.rating >= 1" name="star"></ion-icon>
                <ion-icon *ngIf="worker.rating >= 2" name="star"></ion-icon>
                <ion-icon *ngIf="worker.rating >= 3" name="star"></ion-icon>
                <ion-icon *ngIf="worker.rating >= 4" name="star"></ion-icon>
                <ion-icon *ngIf="worker.rating == 5" name="star"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  


  <div *ngIf="!workerList">

    <ion-card *ngFor="let i of [1,2,3,4,5]">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-avatar class="list-card-avatar">
              <img src="../../assets/icon/stock-avatar.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-row class="worker-data">
              <ion-col size="12"><ion-skeleton-text animated ></ion-skeleton-text></ion-col>
              <ion-col size="12"><ion-skeleton-text animated ></ion-skeleton-text></ion-col>
              <ion-col size="4"><ion-icon name="hammer"></ion-icon><ion-skeleton-text animated ></ion-skeleton-text></ion-col>
              <ion-col size="4"><ion-icon name="locate"></ion-icon><ion-skeleton-text animated ></ion-skeleton-text></ion-col>
              <ion-col size="4"><ion-icon name="cash"></ion-icon><ion-skeleton-text animated ></ion-skeleton-text></ion-col>
              <ion-col size="12" class="worker-stars">
                  <ion-skeleton-text animated ></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>
