.list-card-avatar{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
}


.worker-name{
    display: block;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-weight: 500;   
}

.worker-stars{
    text-align: center;
    font-size: 1.5em;
    color:#A04A4A;
}