<ion-content>
  <p class="--js-register-message">
    Registate y encuentra al mejor <span class="--js-register-enphasys">Trabajador</span> para terminar la tarea que le tengas, facil y rapido!
  </p>

  <div class="--content">
      <form #formulario="ngForm" (ngSubmit)="onSubmitNewUser()">
        <div class="--js-register-input-container">
          <ion-input type="text" [(ngModel)]="newUserData.names" required name="names" placeholder="Nombres" class="--js-register-input"></ion-input>
        </div>
        <div class="--js-register-input-container">
          <ion-input type="text" [(ngModel)]="newUserData.lastnames" required name="lastnames" placeholder="Apellidos" class="--js-register-input"></ion-input>
        </div>
        <div class="--js-register-input-container">
          <ion-input type="email" [(ngModel)]="newUserData.email" required name="email" placeholder="Correo Electronico" class="--js-register-input"></ion-input>
        </div>
        <div class="--js-register-input-container">
            <ion-input type="text" [(ngModel)]="newUserData.telephone" required name="telephone" placeholder="Numero Télefonico" class="--js-register-input"></ion-input>
          </div>
        <div class="--js-register-input-container">
            <ion-select placeholder="Departamento" 
                        name="city" 
                        required
                        [(ngModel)]="newUserData.city"
                        [interfaceOptions]="customActionSheetOptions" 
                        interface="action-sheet" 
                        class="--js-register-select">
              <ion-select-option value="AH">Ahuachapán</ion-select-option>
              <ion-select-option value="SO">Sonsonate</ion-select-option>
              <ion-select-option value="SA">Santa Ana</ion-select-option>
              <ion-select-option value="LL">La Libertad</ion-select-option>
              <ion-select-option value="CH">Chalatenango</ion-select-option>
              <ion-select-option value="SS">San Salvador</ion-select-option>
              <ion-select-option value="CU">Cuscatlán</ion-select-option>
              <ion-select-option value="CA">Cabañas</ion-select-option>
              <ion-select-option value="SV">San Vicente</ion-select-option>
              <ion-select-option value="LP">La Paz</ion-select-option>
              <ion-select-option value="US">Usulután</ion-select-option>
              <ion-select-option value="SM">San Miguel</ion-select-option>
              <ion-select-option value="MO">Morazán</ion-select-option>
              <ion-select-option value="LU">La Unión</ion-select-option>
            </ion-select>  
        </div>
        <div class="--js-register-input-container">
            <ion-select placeholder="Sexo" 
            required
            [interfaceOptions]="customActionSheetOptions" 
            [(ngModel)]="newUserData.sex"
            name="sex"
            interface="action-sheet" class="--js-register-select">
              <ion-select-option value="M">Masculino</ion-select-option>
              <ion-select-option value="F">Femenino</ion-select-option>
            </ion-select>  
        </div>
        <div class="--js-register-input-container">
          <ion-input type="password" [(ngModel)]="newUserData.password" required name="password" placeholder="Contraseña" class="--js-register-input"></ion-input>
        </div>
        <div class="--js-register-input-container">
          <ion-input type="password" [(ngModel)]="newUserData.cpassword" required name="cpassword" placeholder="Repetir contraseña" class="--js-register-input"></ion-input>
        </div>
        <div class="--js-register-checkbox-container">
          <ion-item>
            <ion-checkbox style="margin-right:1em;" [(ngModel)]="newUserData.terms"   name="terms"></ion-checkbox>
            <ion-label>Acepto los Terminos y Condiciones</ion-label>
          </ion-item>
        </div>
        <ion-button type="submit" [disabled]="formulario.invalid" expand="full" shape="round" color="primary">
          REGISTRARSE
        </ion-button>
        <br>
      </form>
  </div>
  

</ion-content>